/* =Base */

body {
    font-family: 'Inconsolata', ;
    color: $iron;
    background-color: $dorian;
}

a {
    color: $cloudy;
    font-weight: bold;
    text-decoration: none;

    &:hover {

    }
}

p {
    font-size: 20px;
    line-height: 32px;
}

img {
    margin: 40px auto;
    display: block;
    max-width: 100%;
}

blockquote {
    letter-spacing: 3px;
    margin:0px;
    margin-top: 40px;
    margin-bottom: 70px;
    padding: 0px;
    text-align: center;
    position: relative;

    footer {
        position: absolute;
        bottom: -35px;
        font-size: 15px;
        color: $iron;
        letter-spacing: 0px;
        left:0px;
        right: 0px;

        &:before { content: "** "; }
        &:after { content: " **"; }
    }

    p {
        display: inline;
        font-size: 20px;
        color: $cloudy;
        font-weight: 400;
        &:before { content: "“ "; }
        &:after { content: " ”"; }
    }
}

strong {
    color: $iron;
}

/* =Header */
.wrapper {
    max-width: 800px;
    margin: 100px auto;
}

.header {
    overflow: hidden;
		position: relative;
}

.navigation {
    float:left;
}

.logo {
    font-size: 50px;
    font-weight: 700;
    color: $iron;
    display: block;
}

.menu {
    color: $cloudy;
    font-size: 18px;
    margin:0px;
    margin-top: 6px;
    padding: 0px;
    list-style-type: none;
}

.menu__entry {
    display: inline-block;
    margin-right: 35px;

    &:last-child {
        margin-right: 0px;
    }
}

.menu__entry a {
    font-weight: 500;
}

.social-links {
    float:right;
    font-size: 24px;
    color: $cloudy;
    list-style-type: none;
}

.social-links__entry {
    display: inline-block;
    margin-left: 10px;
}

/* =Titles */
.page-title {
    margin-top:50px;
    margin-bottom:60px;
    text-align: center;
}

.page-title__text {
    font-weight: 700;
    font-size: 50px;
}

.page-title__subtitle {
    font-weight: 400;
    font-size: 22px;
    color: $cloudy;
    margin-top: 10px;
}

.post-title {
  display: inline-block;
  width: auto;
}

.post-title__text {
    font-size: 40px;
}

.post-title__subtitle {
    font-size: 20px;
}

/* =Post teasers */

.list-posts {
    list-style-type: none;
    padding: 0px;
}

.post-teaser {
    margin-bottom: 40px;
    font-weight: 700;
    text-align: center;
}

.post-teaser__title {
    font-size: 30px;
    color: $iron;
}

.post-teaser__date {
    font-size: 16px;
    float: right;
    vertical-align: middle;
    color: $cloudy;
}

.empty-post-list {
    font-size: 22px;
    font-weight: 700;
    color: $iron;
    text-align: center;
}

/* =Explore */
.explore {
    text-align: center;
    color: $cloudy;
    margin-top: 140px;
}

.explore__devider {
    font-size: 18px;
    letter-spacing: 8.18px;
}

.explore__label {
    font-size: 14px;
    margin-top: 15px;
}

.categories {
    list-style-type: none;
    margin-top: 15px;
    padding: 0px;
}

.categories__item {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
}

.categories__item a {
    color: $iron;
}

.categories__item:after {
    content: "/";
    margin-left: 6px;
    color: $cloudy;
}

.categories__item:last-child:after {
    content: "";
    margin-left: 0px;
}


/* =Post page */
.about {
    color: $cloudy;
    margin-top: 70px;
    text-align: center;
    line-height: 24px;
}

.about__return {
    font-size: 20px;
    margin-bottom: 20px;
    display: block;
    width: auto;
    overflow: hidden;
}

.about__return a {
    margin: 0;
}

.about__return div {
    display: block;
    float: left;
    text-align: left;
    margin: 1em 0;
}

.about__return .about__nav {
    width: 40%;
}

.about__nav a {
    margin: 0;
}

.about__return .about__center {
    width: 20%;
    text-align: center;
}

.about__return .next {
    text-align: right;
    float: right;
}

.about__devider {
    font-size: 20px;
    margin-bottom:50px;
}

.about__text {
    font-size: 18px;
}

#disqus_thread {
    margin-top: 100px;
}

@media (max-width: 800px) {
    /* =Base */
    p {
        font-size: 16px;
        line-height: 1.6;
    }

    .wrapper {
        width: 80%;
        margin: 40px auto;
    }

    .navigation,
    .social-links {
        @include centered-block();
    }

    .social-links {
        font-size: 30px;
        margin-top: 35px;
    }

    .page-title {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    // .logo {
    //     font-size: 32px;
    // }

    // .page-title__text {
    //     font-size: 50px;
    // }

    .logo {
        font-size: 50px;
    }

    .page-title__text {
        font-size: 32px;
    }

    .page-title__subtitle {
        font-size: 18px;
    }

    .post-teaser__title {
        font-size: 20px;
        @include centered-block();
    }

    .post-teaser__date {
        font-size: 16px;
        margin-top: 10px;
        float: none;
        @include centered-block();
    }

    .explore {
        margin-top: 80px;
    }

    .post-title__text {
        font-size: 28px;
    }

    .post-title__subtitle {
        font-size: 18px;
    }

    .hide_mobile {
        display: none;
    }

    .about__arrow {
        font-size: 36px;
        line-height: 36px;
    }

    .about__center {
        line-height: 36px;
    }

    .content li {
	font-size: 16px;
    }

    img {
	margin: 20px auto !important;
	float: none !important;
    }
}

$gradstart: #fed3dd;

.underline--magical {
  background-image: linear-gradient(120deg, $gradstart 0%, #b2d6ef 100%);
  background-repeat: no-repeat;
  background-size: 99% 0.2em;
  background-position: 50% 88%;
  padding: 0 2px;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 100%;
  }
  display: inline-block;
  width: auto;
}

.magical {
  background-image: linear-gradient(120deg, $gradstart 0%, #b2d6ef 100%);
  background-repeat: no-repeat;
  background-size: 100% 95%;
  background-position: 0 95%;
  transition: background-size 0.25s ease-in;
}


$darkcloudy: darken($cloudy, 25%);
.hover_link {
    transition: color 0.2s ease-in;
    &:hover {
        color: $darkcloudy
    }
}

.content {
    position: relative;
    font-size: 20px;
}

.content ul {
    // padding-left: 15px;
    @media (max-width: 800px) {
        padding-left: 0;
    }
}

.content ul li {
    margin-top: 20px;
}

.navwrap {
    position: absolute;
    top: 0;
    right: -170px;
    height: 100%;
}

$lesscloudy: transparentize($cloudy, 0.5);

.navbar {
    position: sticky;
    top: 200px;
    left: 0px;
    font-size: 16px;
    padding-left: 20px;
}

.parent_navbar {
    padding-left: 20px;
    border-left: 2px solid $lesscloudy;
    font-size: 20px;
    width: 100px;
}

.navbar ul {
    list-style: None;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    padding: 5px 0;
    margin: 0;
}

.navbar ul li a {
    background-image: linear-gradient(120deg, $gradstart 0%, #b2d6ef 100%);
    background-repeat: no-repeat;
    background-size: 99% 0.2em;
    background-position: 50% 88%;
    padding: 0 2px;
    &:hover {
        color: $darkcloudy
    }
    transition: background-size 0.25s ease-in, color 0.2s ease-in;
}

.active > a {
    background-size: 100% 100% !important;
    color: $darkcloudy
}

@media (max-width: 1200px) {
    .navbar {
	display: none;
    }
}

.image_block {
  display: flex;
  align-items:center;
  justify-content: space-between;
  margin-bottom: 40px;

  @media (max-width: 800px) {
    flex-direction: column;
  }

  &_image {
    width: 43%;
    margin: 0;
    @media (max-width: 800px) {
      width: 100%;
    }
  }
  &_text {
    width: 55%;
    @media (max-width: 800px) {
      width: 100%;
    }
  }
  &_p {
    @media (max-width: 800px) {
      font-size: 16px;
    }
    line-height: 20px;
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
  }
}
